.*/
/*_*/

dist/
*.orig
*.tgz
test.*.json

# common log files
npm-debug.log*
selenium-debug.log

# common editor and system directories and files
.DS_Store
.idea
.sublime-*
*.suo
*.ntvs*
*.njsproj
*.sln
